# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Outputs
outputs/
output/
runs/
*.mp4
*.avi
*.mov
*.mkv
*.webm
*.json

# Model weights - không đẩy model nặng lên GitHub
weights/*.pt
*.pt

# Dataset / zip
*.zip
datasets/
data/
ppe/
ppe5_correct/
peeeee_to_ppe5/

# System / editor
.DS_Store
Thumbs.db
.vscode/